{
  "parser": "babel-eslint",
  "rules": {
    "no-console": "off"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "airbnb-base",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
    "settings": {
      "react": {
        "createClass": "createReactClass",
        "pragma": "React",
        "version": "16.8"
      },
      "propWrapperFunctions": [
        "forbidExtraProps",
        {
          "property": "freeze",
          "object": "Object"
        },
        {
          "property": "myFavoriteWrapper"
        }
      ]
    }
}